In [2]:
import pandas as pd

In [3]:
workshop_attendees = {'UNI': ['bs1122', 'ff1122', 'dd1122'],
                      'workshops_attended': [3,4,7]
                     }

students = pd.DataFrame(workshop_attendees)

students

      UNI  workshops_attended
0  bs1122                   3
1  ff1122                   4
2  dd1122                   7

In [4]:
s = pd.Series([1, 2, 3, 3])

In [5]:
students.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
s.value_counts()

3    2
2    1
1    1
dtype: int64

In [16]:
s.median()

2.5